# ============================================================
# User-specific files
# ============================================================
*.suo
*.user
*.idea
*.iml
WebEssentials-Settings.json

# ============================================================
# Windows image file caches
# ============================================================
Thumbs.db
ehthumbs.db

# ============================================================
# Folder config files
# ============================================================
.DS_Store
Desktop.ini

# ============================================================
# Recycle Bin used on file shares
# ============================================================
$RECYCLE.BIN/

# ============================================================
# Front end packages
# ============================================================
node_modules
npm-debug.log

/Coverage/
/karma.personal.*.conf.js
Automation/out/
out/automation/
tmp/
reports/

dist
coverage

mb.pid
mb.log
mb1.log

/logs/*.log
.npmrc

# ============================================================
# UI automated test results
# ============================================================
protractor-output.json
screenshots/

# ============================================================
# stats / analyzer
# ============================================================
/bundle-stats.json
/jest-stats.json
/eslint-stats.json
